.Promo {
    margin: 0;
    min-height: 560px;
    background-color: #073042;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.promoImage {
    margin: 0;
    max-width: 722px;
    max-height: 244px;
    margin-right: 70px;
    margin-bottom: 60px;
    align-self: end;
}

.promoText {
    margin: 0;
    margin-left: 70px;
    font-weight: 400;
    margin-top: 50px;
    width: 626px;
    color: #FFF;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
}

@media screen and (max-width: 768px) {
    .promoText {
        margin: 0;
        display: flex;
        align-self: center;
        margin-top: 300px;
        margin-bottom: 140px;
        width: 680px;
        text-align: center;
    }

    .promoImage {
        margin: 0;
        display: flex;
        align-self: center;
        text-align: center;
        max-width: 680px;
        max-height: 230px;
        margin-bottom: 70px;
    }

    @media screen and (max-width: 320px) {
        .promoText {
            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 183px;
            margin-bottom: 60px;
            width: 300px;
            font-size: 31px;
            line-height: 39px;
            letter-spacing: -1.24px;
        }

        .promoImage {
            margin-bottom: 40px;
        }

    }
}