.Promo {
    margin: 0;
    height: 560px;
    background-color: #073042;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promoImage {
    margin: 0;
    max-width: 722px;
    max-height: 244px;
    margin-right: 70px;
    margin-bottom: 60px;
    align-self: end;
}

.promoText {
    margin: 0;
    margin-left: 70px;
    margin-top: 60px;
    max-width: 626px;
    color: #FFF;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.6px;
}