.AboutProject {
    margin: 0 auto;
    min-height: 585px;
    background-color: #202020;
}

.ProjectContainer {
    margin: 0;
    padding-top: 110px;
    padding-right: 70px;
    padding-bottom: 110px;
    padding-left: 70px;
}

.ProjectHeadingContainer {
    margin: 0;
    border-bottom: 1px solid #DADADA;
}

.ProjectHeading {
    margin: 0;
    color: #FFF;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.88px;
    margin-bottom: 30px;
}

.descriptionContainer {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.stagesAndTimeOfTheDiploma {
    margin: 0;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.8px;
    margin-top: 70px;
}

.descriptionOfTheDiploma {
    margin: 0;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 26px;
}

.stagesAndTimeContainer {
    margin: 0;
    min-width: 284px;
    margin-right: 50px;
}

.stagesAndTimeContainer:last-child {
    margin-right: 0px;
}

.timeBandBackEnd {
    margin: 0;
    background-color: #3DDC84;
    margin-top: 110px;
    min-width: 100px;
    height: 36px;
}

.timeBandFrontEnd {
    margin: 0;
    background-color: #303030;
    ;
    margin-top: 110px;
    min-width: 184px;
    height: 36px;
}

.termBackEnd {
    margin: 0;
    color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding-top: 9px;
}

.termfrontEnd {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding-top: 9px;
}

.stripeContainer {
    margin: 0;
    display: flex;
    text-align: center;
}

.stageName {
    margin: 0;
    margin-top: 13px;
    color: #8B8B8B;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.timeContainerBackEnd {
    flex: 2 1;
}

.timeContainerFrontEnd {
    flex: 8 1;
}

@media screen and (max-width: 768px) {
    .ProjectContainer {
        margin: 0;
        padding-top: 90px;
        padding-right: 50px;
        padding-bottom: 90px;
        padding-left: 50px;
    }

    .timeBandBackEnd {
        margin: 0;
        margin-top: 92px;
        width: 140px;
    }

    .timeBandFrontEnd {
        margin: 0;
        margin-top: 92px;
    }

    .stagesAndTimeContainer {
        margin-right: 30px;
    }

    .stagesAndTimeContainer:last-child {
        margin-right: 0px;
    }

    .stagesAndTimeOfTheDiploma {
        margin-top: 75px;
    }

    .descriptionOfTheDiploma {
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px;
    }

}

@media screen and (max-width: 320px) {
    .descriptionContainer {
        margin: 0;
        width: 284px;
        justify-content: center;
        flex-direction: column;
        
    }

    .ProjectContainer {
        padding: 0;
        margin: 0;
        margin-right: 18px;
        margin-left: 18px;
        
    }

    .AboutProject {
        margin: 0;
        height: 641px;
    }

    .stagesAndTimeContainer {
        margin: 0;
    }

    .ProjectHeadingContainer {
        padding-top: 70px;
        display: flex;
        width: 292px;
    }

    .timeBandBackEnd {
        margin: 0;
        margin-top: 57px;
        width: 100px;
    }

    .timeBandFrontEnd {
        margin: 0;
        margin-top: 57px;
        width: 184px;
    }

    .ProjectHeading {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .stagesAndTimeOfTheDiploma {
        font-size: 18px;
        margin-top: 64px;
    }

    .descriptionOfTheDiploma {
        font-size: 11px;
        line-height: 16px;
        margin-top: 16px;
    }

    .termBackEnd {
        padding-top: 11px;
        font-size: 11px;
    }

    .termfrontEnd {
        padding-top: 11px;
        font-size: 11px;
    }

    .stageName {
        font-size: 11px;
        margin-top: 10px;
    }

    .timeContainerBackEnd {
        flex: none;
    }

    .timeContainerFrontEnd {
        flex: none;
    }

}