.Authorize {
    background: #202020;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.Authorize__Container {
    max-width: 1280px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.Authorize__Logo {
    margin: 0;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: flex-start;
}

.Authorize__InputPassword {
    width: 396px;
    margin: 0;
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #2F2F2F;
    height: 46px;
    color: #EE3465;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Authorize__Heaing {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 396px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Authorize__inputContainer {
    margin: 0;
    width: 396px;
}

.Authorize__Text {
    width: 396px;
    margin: 0;
    margin-bottom: 10px;
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.Authorize__Input {
    width: 396px;
    margin: 0;
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #2F2F2F;
    color: #FFF;
    height: 46px;
}

.Authorize__Input:last-child {
    margin-bottom: 0px;
}

.Authorize__Button {
    margin-top: 179px;
    width: 396px;
    border: none;
    border-radius: 3px;
    background: #4285F4;
    height: 45px;
    cursor: pointer;
}

.Authorize__Button:hover {
    transition: opacity .5s linear;
    opacity: .6;
}

.Authorize__unauthorizeText {
    margin-top: 16px;
    width: 396px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #8B8B8B;
    text-align: center;
}

.Authorize__link {
    color: #4285F4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.Authorize__link:hover {
    transition: opacity .5s linear;
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .Authorize__Logo {
        text-align: center;
    }

    .Authorize__Container {
        padding-top: 56px;
        padding-bottom: 0px;
    }

    .Authorize__Heaing {
        width: 260px;
        margin-top: 50px;
        text-align: center;
    }

    .Authorize__inputContainer {
        width: 260px;
        margin-top: 80px;
    }

    .Authorize__Text {
        width: 260px;
    }


    .Authorize__Input {
        width: 260px;
    }

    .Authorize__Button {
        width: 260px;
        margin-top: 232px;
    }

    .Authorize__unauthorizeText {
        width: 260px;
        font-size: 12px;
        ;
    }

    .Authorize__linkToRegister {
        font-size: 12px;
    }

}